includes:
    - vendor/phpstan/phpstan-mockery/extension.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
    level: 7
    paths:
        - src
        - config
        - public
    excludePaths:
        - tests/**
    stubFiles:
        - stubs/Model.stub
        - stubs/EloquentBuilder.stub
        - stubs/QueryBuilder.stub
    bootstrapFiles:
        - vendor/autoload.php
    ignoreErrors:
        - identifier: argument.type
          path: config/routes.php
    reportMaybesInPropertyPhpDocTypes: false
